aiofiles
aiohttp
attrify
bs4
dnspython
GitPython
gpytranslate
gtts
html2text
motor
opencv-python-headless
openai
Pillow==8.3.2
psutil
pykeyboard
pySmartDL
pyromod==1.1
pytz
pymediainfo
pymongo
pyrogram
removebg
requests
telegraph
tgcrypto
unidecode
wget
youtube-search-python
yt-dlp
