aiofiles
aiohttp
python-dotenv
attrify
bs4
dnspython
GitPython
gpytranslate
gtts
html2text
motor
opencv-python-headless
Pillow==9.3.0
psutil
pykeyboard
pySmartDL
pyromod==1.1
pytz
pymediainfo
pymongo
pyrogram
python-dateutil
removebg
requests
telegraph
tgcrypto
unidecode
wget
youtube-search-python
yt-dlp
